venv/ 
cache/ 
__pycache__/ 
*.pyc 
*.db 
*.db-journal 
*.log 
*.o 
*.so 
*.dll 
doc/
tessdata/
ambiguous_words.1.html
ambiguous_words.exe
classifier_tester.1.html
classifier_tester.exe
cntraining.1.html
cntraining.exe
combine_lang_model.1.html
combine_lang_model.exe
combine_tessdata.1.html
combine_tessdata.exe
dawg2wordlist.1.html
dawg2wordlist.exe
full_report.json
lstmeval.1.html
lstmeval.exe
lstmtraining.1.html
lstmtraining.exe
merge_unicharsets.1.html
merge_unicharsets.exe
mftraining.1.html
mftraining.exe
results.json
set_unicharset_properties.1.html
set_unicharset_properties.exe
shapeclustering.1.html
shapeclustering.exe
tesseract-uninstall.exe
tesseract.1.html
tesseract.exe
text2image.1.html
text2image.exe
unicharambigs.5.html
unicharset.5.html
unicharset_extractor.1.html
unicharset_extractor.exe
winpath.exe
wordlist2dawg.1.html
wordlist2dawg.exe